body{
    background-color:#D0D3D9;
}

h2{
    font-style: oblique; 
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    text-align: center;
}

div{
    text-align: center;
}

h3{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    font-weight: 200; 
    font-style: italic;
    color: rgb(118, 27, 202);
}

iframe{
    width:700px;
    height: 380px
}

header a{
    background-color: #396f91;
    color:rgb(211, 209, 209);
    border-radius: 10px;
    margin: 30px;
}

header{
    background-color: #396f91;
    padding: 10px;
    border-radius: 100px;
    text-align: center;
}

footer{
    text-align: center;
}