*
{
    background-color :#D0D3D9;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
header
{
    background-color: #2A394F;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
header a
{
    background-color: #2A394F;
    color:#F58273;
    border-radius: 10px;
    margin: 0px;
}
.logo {
    font-size: 24px;
    color: #D6F573;
    font-weight: 800;
    text-transform: uppercase;
}
h1
{
    color:  #396f91;
    padding: 50px;
}
.comfortaa {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
h2
{
    color:#4eabe6;
}
h4
{
    color: #396f91;
    font-weight: normal;
}
#img
{
    border-color:#047192;
    border-style:solid;
    border-width: 10px;
}
i
{
    margin: 50px;
    padding: 0px 30px 0px 30px
}
ul 
{
    font-size: 20px;
    padding: 2px 110px;
    text-decoration:underline;
}
#caja
{
    color: #D0D3D9;
    background-color:  #396f91;
    border: 5px dotted #000000; /** solid, dotted, dashed, double **/
    padding: 30px 50px; /** de 1 a 4 valores **/
    margin: 20px 400px; /** de 1 a 4 valores **/
    border-radius: 100px;
    border-color: rgb(252, 252, 255);   
}
em
{
    background-color:  #396f91;
}   
p strong
{
    background-color:  #396f91;
}
.video
{
    padding: 20px, 30px;
    background-color: #396f91;
    border: 50px,100px;
    margin: 50px;
    
}
.boton
{
    background-color: #396f91;
    color: #fbfcfd;
    height: 40px;
    width: 120px;
    font-size: larger;
    margin-top: 10px;
    font-family:cursive;
    border-color: rgb(179, 175, 209);
    border-width: 5px;
}
p:hover
{
    text-decoration: underline;
}